.sideNavBar{
    height: 100vh;
    background-color: rgb(2, 2, 37) !important;
    color: white;
}
.addbook{
    height: fit-content;
    background-color:rgba(200, 240, 243, 0.494) !important;
    height: 100vh;
}
.navstyle a{
    background-color: inherit !important;
    border-radius: 15px !important;
}